<html>
  <head>
    <title>OTA Service</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://kit.fontawesome.com/dbcb52d970.js" crossorigin="anonymous"></script>

    <!-- Favicons from https://favicon.io/favicon-generator/?t=W&ff=Merienda+One&fs=110&fc=%23FFF&b=rounded&bc=%230A5 -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  </head>
  <body>
    <h1>Devices</h1>
    <table id="deviceTable" class="loading">
      <tr>
        <th>MAC</th>
        <th>Firmware</th>
        <th>Version</th>
        <th>Last Check</th>
        <th>State</th>
        <th>Assigned Firmware</th>
      </tr>
      <% devices.forEach(device => { %>
        <tr id="<%= device.mac %>">
          <td><%= device.mac %></td>
          <td><%= device.firmwareType %></td>
          <td><%= device.firmwareVersion %></td>
          <td><%= device.lastUpdated %></td>
          <td><%= device.state %></td>
          <td>
            <select class="firmwareSelector">
              <option></option>
              <% firmwareTypes.forEach((type) => { %>
                <option value="<%= type %>"  <% if (device.firmwareType == type) { %>selected="selected"<% } %>>
                  <%= type %>
                </option>
              <% }) %>
            </select>
          </td>
        </tr>
      <% }) %>
    </table>

    <h1>Firmware</h1>
    <table id="firmwareTable" class="loading">
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>File</th>
        <th>Size</th>
        <th>Delete</th>
      </tr>
      <% allFirmware.forEach((firmware) => { %>
        <tr data-type="<%= firmware.type %>"  data-version="<%= firmware.version %>" data-filename="<%= firmware.filename %>">
          <td><%= firmware.type %></td>
          <td><%= firmware.version %></td>
          <td><%= firmware.file %></td>
          <td><%= firmware.size %></td>
          <td class="deleteFirmware button">
            <i class="far fa-trash-alt"></i>
          </td>
        </tr>
      <% }) %>
    </table>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="actions.js"></script>
  </body>
</html>
